<hr>
<div class="article">
    <h1 id="title">Can Money Buy Happiness?</h1>
    <img src="../img/money-happiness.jpg"> <p>
    Though it’s true that money doesn’t buy     happiness, a lack of it can certainly buy unhappiness. Let’s examine what money is from a different perspective and consider that our definition of financial wealth is flawed. I’ll offer a new way to measure it and show you how you can dramatically increase your wealth and use it to have a happier, more meaningful life.</p>

    <h3>What is money?</h3>

    <p>When I ask people what money means to them, I get words like freedom, choices and enjoyment. To me, this suggests that while money doesn’t buy happiness, it gives us the ability to pursue happiness. Sounds simple, yet often what we think will make us happy leads to disappointment.</p>
      
    <p>The question then is how rich do you have to be to achieve this freedom? Is it $250,000 or $2.5 million? The answer is tricky, since both amounts could be enough and both could fall short. I believe the person with $2.5 million may end up being poor while the person with $250,000 may be wealthy. That’s because I define financial wealth in time, not money, as follows:</p>

    <h3>Wealth in years = <br>net worth in dollars / annual expenditures</h3>

    <p>The scarcest asset we have is time, since each of us is apportioned a finite amount of it to live our lives. We can get more money, but not more time. So if the person with a $2.5 million portfolio needs $1 million a year to live on and be happy, that person is relatively poor since he’s only banked 2.5 years of wealth.  The person with $250,000, however, who only needs an extra $10,000 a year above Social Security, is rich with 25 years of wealth — assuming the portfolio keeps up with inflation, so it doesn’t require cutting back in later years.</p>

    <p>This simple formula has significant implications.</p>

    <p>You can either increase your net worth in dollars, which takes a very long time, or you can cut annual expenditures, which has an immediate impact on your wealth in years. Further, spending more money may only make you marginally happy in the short run.</p>

    <p>Saving money is good for more than your account balances.  It turns out that people who are savers are both happier and live longer.If you spend your days doing what you love and your evenings with those you love, you’ll have a rich life — even if you aren’t rich.</p>

    <p>Here’s wishing you financial freedom and a very rich life.</p>
    
    <em>via: forbes</em>
    
</div>
<hr>
<div class="article">
   <h1 id="title">GMO, Yes or No?</h1>
   <img src="../img/gmo.jpg"> <p>
   Genetically modified organisms (GMOs) have been the source of much debate regarding their necessity and safety for many years. These organisms, for better or worse, now have a firm place in our food chain, finding their way into upwards of 30,000 different food products.</p>

  <p>The first genetically modified food item, a tomato, appeared in the United States in 1994 and in Britain in 1996.</p>

  <p>Following subsequent controversy in 1999 surrounding a study indicating genetically modified potatoes could be toxic to rats, many environmental groups began calling for the elimination of all genetically altered foods from store shelves.</p>
  
  <h3>What are the benefits of genetic modification?</h3>
  
  <p>The majority of genetic modification is done on basic commodity crops like soybeans, corn, rice and wheat, which is the reason so many different food products now contain GMOs.</p>

  <p>Herbicide-resistant crops are by far the most widely grown genetically modified plant, accounting for more than 70 per cent of worldwide GMOs. These crops allow farmers to use the more effective non-specific herbicides without fear of killing their valuable plants.</p>

  <p>Plants can also be modified to be insect resistant (removing the need for polluting insecticides), and disease resistant.</p>

  <p>Some plants have been engineered to thrive under stressful conditions, such as in dry or salty soil. In 2001, for example, a strain of tomato was engineered to remove salt from the ground and distribute it into its leaves, leaving the tomato tasting normal. These modifications allow crops to grow in areas usually unfriendly to sustainable growth, such as drought-prone regions.</p>
    
 <h3>What are the concerns?</h3>
    
 <p>The biggest threat when it comes to GMOs involves the possibility of cross-pollination in the wild, leading to genetic pollution.</p>
 
 <p>The risk is especially great when crops meant for human consumption are grown near crops altered and grown for specialized pharmaceutical needs. This process, known as biopharming, can isolate traits in certain plants that can be useful for things such as vaccine production. Biopharming has also been used to engineer plants used in producing biodegradable plastic and improved animal feed.</p>

 <p>Another concern exists surrounding the potential mixing up of certain GMOs unfit for human consumption with safe ones. As many side effects of some GMOs are unknown, the risk can be substantial. In 2000, StarLink corn, a Bt strain developed by Aventis Crop Sciences and approved for use in animal feed, somehow found its way into some foods products, including Taco Bell taco shells. The consumer and regulatory backlash put increased scrutiny on genetically modified foods in the U.S. and even caused some developing countries to turn away food aid fearing StarLink contamination.</p>
 
 <em>via: cbc</em>
</div>
<hr>
<div class="article">
    <h1 id="title"> A Look to the Future</h1>
    
    <img src="../img/overpopulation.jpg">

    <p>Think the world is crowded now? You haven’t seen anything yet.</p>

    <p>The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates from the UN.</p>

    <p>Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe, 9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the largest countries in the world, together making up almost 40 percent of the world population.</p>
    
    <p>The world population is growing at a gradually slower and slower pace, but it's still growing substantially. Currently, the world adds about 83 million people per year, equivalent to roughly the population of Germany. But population growth has slowed to 1.18 percent per year from 1.24 percent a decade ago.</p>
    
    <p>The UN expects population growth to continue to gradually level off. Global population is almost sure to rise in the short term but the UN says there is a 1 in 4 chance that the world population will stabilize or fall before 2100.</p>
    
    <h3>Africa is expected to grow the most</h3>
    
    <p>The UN's projections for Africa are pretty mind-blowing. Africa is expected to more than double its population by 2100. Africa currently accounts for 16 percent of the global population. The UN expects that proportion to rise to 25 percent in 2050 and 49 percent by 2100.</p>
    
    <p>That's mostly because the continent is so young, and partly because fertility rates are high. Exactly half of the continent's population was under the age of 24 in 2015. Many of these people will have children of their own in the next few decades, adding greatly to the global total.</p>
    
    <h3>India to surpass China - soon</h3> 
    
    <p>Demography buffs may already know this one, but India is set to become the world's most populous country very soon. China now has 1.38 billion people, compared with 1.31 billion in India. By 2022, both countries will see their populations rise to 1.4 billion. After that, China's population will level off as its people age, but India will keep growing to 1.5 billion in 2030 and 1.7 billion in 2050.</p>
    
    <h3>We're getting Old</h3>
    
    <p>Right now, about a quarter of Europeans are 60 or older. That proportion will rise to a little more than a third in 2050 and 2100.</p>
    
    <p>Outside of Africa, the global population is also set to age. By 2050, in all areas of the world except Africa, nearly a quarter or more of the population will be 60 or older. Countries including Bosnia and Herzegovina, Bulgaria, Croatia, Hungary, Japan, Latvia, Lithuania, Republic of Moldova, Romania, Serbia, and Ukraine will see their populations fall by more than 15 percent by 2050.</p>

    <p>One way to measure the aging of the global population is the median age, which is the age that divides the world population into two halves of equal size, the UN says. That age is now 29.6, but it will rise to 36 in 2050 and 42 in 2100.</p>
    
    <em>via: The Washington Post</em> 
</div>
<hr>