<hr>
<div class="photography">
   <h1 id="title">Portrait Collection:</h1>
   <figure>
       <img src="../img/lighting.jpg" id="card">
       <figcaption> 2018 / Environmental Lighting Techniques</figcaption>
   </figure>
   <figure>
       <img src="../img/fashion.jpg" id="card-alt">
       <figcaption>2018 / Studio Fashion Photography </figcaption>
   </figure>
    <figure>
       <img src="../img/character-study.JPG" id="card">
       <figcaption>2018 / Character Study</figcaption>
   </figure>
   <figure>
       <img src="../img/environmental%20(person1).jpg" id="card-alt">
       <figcaption>2018 / Environmental Lighting Techniques</figcaption>
   </figure>
   <figure>
       <img src="../img/group.jpg" id="card">
       <figcaption>2018 / Group Photography</figcaption>
   </figure>
   <figure>
       <img src="../img/silhouette.jpg" id="card-alt">
       <figcaption> 2018 / Silhouette</figcaption>
   </figure>
</div>
<hr>